@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	max-height: 100dvh;
}

html,
body,
* {
	scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

html.plain-mode {
	& body,
	& .bg-black {
		background-color: #fbf6f1 !important;
	}
	& video {
		display: none !important;
	}
	& .text-bone {
		color: #212121 !important;
	}
	& .fill-bone {
		fill: #212121 !important;
	}
	& .stroke-bone {
		stroke: #212121 !important;
	}
	& .bg-bone {
		background-color: #212121 !important;
	}
	& .border-bone {
		border-color: rgb(33 33 33 / var(--tw-border-opacity)) !important;
	}
}
