@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bone: #fbf6f1;
  --black: #212121
}

html, body {
  background: var(--bone);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  html, body {
    background: var(--black);
  }
}


